{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}

{% block body %}
    <h1 class="title_connexion">Identifiez-vous</h1>
    <div class="connexion_content">
    <form method="post" id="login_customer">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="mb-3">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre email" autocomplete="email" required autofocus>
        </div>
        <div class="mb-3">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mt-5 mb-2">
            <label>
                <input type="checkbox" name="_remember_me"> Rester connecté
            </label>
        </div>

        <div>
            <a href="{{ url('reset_password.request') }}">Vous avez oublié votre mot de passe ?</a>
        </div>

        <div>
            <a href="{{ url('registration.register') }}">Créez un compte</a>
        </div>

        <br>

        <button class="g-recaptcha btn-primary log_button"
                data-sitekey="{{ google_recaptcha_site_key }}"
                data-callback='onSubmit'
                data-action='submit'>
            Se connecter
        </button>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("login_customer").submit();
        }
    </script>
{% endblock %}