{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="w-50 m-auto text-center">
    <form method="post" id="login_customer">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}



        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <br>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

        <div>
            <a href="{{ url('reset_password.request') }}">Mot de passe oublié</a>
        </div>

        <div>
            <a href="{{ url('registration.register') }}">Vous n'avez pas de compte</a>
        </div>

        <br>

        <button class="g-recaptcha btn-primary"
                data-sitekey="{{ google_recaptcha_site_key }}"
                data-callback='onSubmit'
                data-action='submit'>
            Se connecter
        </button>
    </form>
</section>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("login_customer").submit();
        }
    </script>
{% endblock %}