{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="w-50 m-auto text-center">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Inscription</h1>
    <br>

    {{ form_start(form, {attr: {id: 'register_form'}}) }}

    <div class="row w-50 m-auto">
        <div class="col">
            {{ form_label(form.email, 'Adresse email: ') }}
            {{ form_widget(form.email) }}
            <br>
            {{ form_label(form.civility, 'Civilité: ') }}
            {{ form_widget(form.civility) }}
            <br>
            {{ form_label(form.lastName, 'Nom: ') }}
            {{ form_widget(form.lastName) }}
            <br>
            {{ form_label(form.firstName, 'Prénom: ') }}
            {{ form_widget(form.firstName) }}
            <br>
            {{ form_label(form.phone, 'Téléphone: ') }}
            {{ form_widget(form.phone) }}
            <br>
            {{ form_row(form.plainPassword.first) }}
            <br>
            {{ form_row(form.plainPassword.second) }}
        </div>

    </div>
    <br>
    <div class="w-25 m-auto">
        {{ form_row(form.agreeTerms) }}
    </div>
    <br>
    <button class="g-recaptcha btn-primary"
            data-sitekey="{{ google_recaptcha_site_key }}"
            data-callback='onSubmit'
            data-action='submit'>
        S'inscrire
    </button>



    {{ form_end(form) }}
</section>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("register_form").submit();
        }
    </script>
{% endblock %}
