{% extends "base.html.twig" %}

{% block body %}
<article class="content">
    <section class="text-content text-center">
        <h1>Votre Compte</h1>
        <br><br>
        <div class="container_customer_homepage">
            <a href="{{ url('customer.orders.index') }}">
                <div class="thumbnail">
                    <img src="{{ asset('img/logo_dinotoypia_120.png') }}" alt="" class="thumbnail-img img-fluid">
                    <div class="thumbnail-body">
                        <h4 class="thumbnail-title">Vos commandes</h4>
                        <div class="thumbnail-desc">Suivi des commandes</div>
                    </div>
                </div>
            </a>

            <a href="{{ url('customer.refurbished_toy.index') }}">
                <div class="thumbnail">
                    <img src="{{ asset('img/logo_dinotoypia_120.png') }}" alt="" class="thumbnail-img img-fluid">
                    <div class="thumbnail-body">
                        <h4 class="thumbnail-title">Reconditionnement</h4>
                        <div class="thumbnail-desc">Suivre mes demandes de reconditionnement</div>
                    </div>
                </div>
            </a>

            <a href="{{ url('customer.customer.index') }}">
                <div class="thumbnail">
                    <img src="{{ asset('img/logo_dinotoypia_120.png') }}" alt="" class="thumbnail-img img-fluid">
                    <div class="thumbnail-body">
                        <h4 class="thumbnail-title">Mes Infos</h4>
                        <div class="thumbnail-desc">Consulter et modifier mes informations</div>
                    </div>
                </div>
            </a>
        </div>
    </section>
</article>

{% endblock %}