<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dinotoypia {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo_dinotoypia_32.png') }}">

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style_navbar.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

        {% block stylesheets %}
        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {# include stripe, to keep here to enable its security feature #}
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <header>
            {% include 'inc/nav.html.twig' %}
        </header>
        <main class="flex_content container_content">

        {% block body %}

        {% endblock %}
        </main>
        <footer class="footer_container">
            <div class="menu_footer">
                <a class="redirect_footer" href="{{ asset('pdf/CGV_Dinotoypia.pdf') }}" target="_blank">Consultez nos CGV / mentions légales</a>
                <a class="redirect_footer" href="{{ asset('pdf/CGV_Dinotoypia.pdf') }}" target="_blank">Consultez nos conditions d'utilisation</a>
                <a class="redirect_footer" href="{{ asset('pdf/CGR_Dinotoypia.pdf') }}" target="_blank">Consultez nos conditions rachats</a>
            </div>
            <div class="menu_footer">
                <span class="redirect_footer">Nous joindre :</span>
                <span class="redirect_footer">01 41 33 04 70</span>
            </div>
        </footer>


        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/live_search.js') }}"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
