<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dinotoypia {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo_dinotoypia_32.png') }}">

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style_navbar.css') }}">

        {% block stylesheets %}
        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {# include stripe, to keep here to enable its security feature #}
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <header>
            {% include 'inc/nav.html.twig' %}
        </header>

        {% block body %}

        {% endblock %}

        <footer>

        </footer>


        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/live_search.js') }}"></script>
        <script src="{{ asset('js/cart.js') }}"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
