


<nav class="nav-container">
	<div class="container-menu">

	</div>
	<div class="container-sub-menu">
		<a class="redirect-sub-menu">
			<button class="button-sub-menu">

			</button>
		</a>

		<a class="redirect-sub-menu">
			<button class="button-sub-menu"></button>
		</a>
		<a class="redirect-sub-menu">
			<button class="button-sub-menu">

			</button>
		</a>
	</div>
</nav>


<nav class="container-fluid">
	<div class="nav-logo">
		<a class="d-block" href="{{ url('homepage.index') }}"><img src="{{ asset('img/logo_dinotoypia_120.png') }}" alt=""></a>
	</div>
	<div id="navbar-menu">
		<div>
			<a href="{{ url('homepage.index') }}">Accueil</a>
		</div>
		<div>
			<a href="{{ url('homepage.refurbished_toy') }}">Reconditionnement</a>
		</div>
		{% if is_granted('ROLE_CUSTOMER') %}
			<div>
				<a class="nav-link" href="{{ url('customer.homepage.index') }}">Mon compte</a>
			</div>
			<div>
				<a class="nav-link" href="{{ url('security.customer.logout') }}">Déconnexion</a>
			</div>
		{% else %}
			<div>
				<a class="nav-link" href="{{ url('security.customer.login') }}">Connexion</a>
			</div>
		{% endif %}
	</div>
	<div class="search">
		<form method="post" action="{{ url('homepage.search') }}">
			<input class="form-control" type="search" name="search" id="searchBar" placeholder="Recherche" aria-label="Search">
		</form>
		<ul class="searchResults" id="searchResults">
		</ul>
	</div>
	<div class="cart">
		<a href="{{ url('homepage.summary') }}">
			<img src="{{ asset('img/cart.png') }}" alt="">
			<div id="cart-quantity">
				{% if app.session.get('cart') is not null %}
					{{ app.session.get('cart') }}
				{% else %}
					0
				{% endif %}
			</div>
		</a>
	</div>
</nav>