
<div class="container-top">
	<div class="container_logo">
		<a class="d-block" href="{{ url('homepage.index') }}">
			<img src="{{ asset('img/logo_dinotoypia_120.png') }}" alt="" id="nav-logo">
		</a>
	</div>
	<div class="container_search_bar">
		<form class="form_search_bar" method="post" action="{{ url('homepage.search') }}">
			<input class="form-control" type="search" name="search" id="searchBar" placeholder="ENTREZ VOTRE RECHERCHE ..." aria-label="Search">
		</form>
		<ul class="searchResults" id="searchResults">
		</ul>
	</div>
	<div class="container_menu">
		{% if is_granted('ROLE_CUSTOMER') %}
			<a class="redirect-top" href="{{ url('customer.homepage.index') }}">
				<center><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
						<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
					</svg></center>
				<span>COMPTE</span>
			</a>
			<a class="redirect-top" href="{{ url('security.customer.logout') }}">
				<center><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
						<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
					</svg></center>
				<span>DÉCONNEXION</span>
			</a>
		{% else %}
			<a class="redirect-top" href="{{ url('security.customer.login') }}">
				<center><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
						<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
					</svg></center>
				<span>CONNEXION</span>
			</a>
		{% endif %}

		<a class="redirect-top" href="{{ url('homepage.summary') }}">
			<center><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
				<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
			</svg></center>
			<span>PANIER</span>
		</a>
	</div>
</div>
<nav class="nav-container">
	<div class="container-sub-menu">
		<a class="redirect-sub-menu" href="#">
			<span class="button-sub-menu">
				Nos produits
			</span>
		</a>

		<a class="redirect-sub-menu" href="{{ url('homepage.refurbished_toy') }}">
			<span class="button-sub-menu">
				Reconditionnement
			</span>
		</a>
		<a class="redirect-sub-menu" href="{{ url('contact.index') }}">
			<span class="button-sub-menu">
				Contact
			</span>
		</a>
	</div>
</nav>
