{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <section class="w-25 text-center m-auto">
        <h2>Modifier votre mot de passe</h2>

        {% for message in app.flashes('customerPasswordNotice') %}
            <p class="alert alert-success">{{ message }}</p>
        {% endfor %}

        {{ form_start(form) }}
        <div class="col text-center">
            {{ form_row(form.plainPassword.first) }}
            <br>
            {{ form_row(form.plainPassword.second) }}
            <br>
            <input type="submit" class="btn btn-primary" value="Modifier">
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}