{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <section class="w-25 text-center m-auto">
        <h2 class="title-typo">Modifier votre mot de passe</h2>

        <div class="modify-info">
            {% for message in app.flashes('customerPasswordNotice') %}
                <p class="alert alert-success">{{ message }}</p>
            {% endfor %}

            {{ form_start(form) }}
            <div class="col text-center">
                {{ form_row(form.plainPassword.first) }}
                <br>
                {{ form_row(form.plainPassword.second) }}
                <br>
                <input type="submit" class="button_contact" value="Modifier">
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}