{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <section class="w-25 text-center m-auto">
        <div class="center-item">
            <h2 class="title-typo">Modifier mes informations</h2>
        </div>
        
        <div class="modify-info">
            {% for message in app.flashes('customerEmailNotice') %}
                <p class="alert alert-success">{{ message }}</p>
            {% endfor %}
            {% for message in app.flashes('customerNotice') %}
                <p class="alert alert-success">{{ message }}</p>
            {% endfor %}

            {{ form_start(form) }}
            <div class="col">
                {{ form_label(form.email, 'Adresse email: ') }}
                {{ form_widget(form.email) }}
                <br>
                {{ form_label(form.civility, 'Civilité: ') }}
                {{ form_widget(form.civility) }}
                <br>
                {{ form_label(form.lastName, 'Nom: ') }}
                {{ form_widget(form.lastName) }}
                <br>
                {{ form_label(form.firstName, 'Prénom: ') }}
                {{ form_widget(form.firstName) }}
                <br>
                {{ form_label(form.phone, 'Téléphone: ') }}
                {{ form_widget(form.phone) }}
                <br>
                <input type="submit" class="button_contact" value="Modifier">
            </div>
            {{ form_end(form) }}
        </div>
        
    </section>
{% endblock %}