    {% extends 'base.html.twig' %}
{% block body %}
<article class="content">
    <section class="text-content container-customer-profile">
        <div class="container-customer-infos">
            <h3>Informations</h3>
            <div>
                Email : {{ app.user.email }}
                <br>
                Civilité : {{ app.user.civility.name }}
                <br>
                Prénom : {{ app.user.firstName }}
                <br>
                Nom : {{ app.user.lastName }}
                <br>
                Téléphone : {{ app.user.phone }}
            </div>
        </div>
        <div class="container-customer-links">
            <a class="button_modif" href="{{ url('customer.customer.form') }}">Modifier mes informations</a>
            <br><br>
            <a class="button_modif" href="{{ url('customer.customer.form_password') }}">Modifier votre mot de passe</a>
        </div>

        <br><br><br><br><br><br><br><br><br>

        {% if app.user.getUsedPromotionCodes is not empty %}
            <h3>Codes promo utilisés</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Montant</th>
                </tr>
                </thead>
                <tbody>
                {% for promotionCode in app.user.getUsedPromotionCodes %}
                    <tr>
                        <td>{{ promotionCode.name }}</td>
                        <td>
                            {{ promotionCode.amount }}
                            {% if promotionCode.amountType == 'percentage' %}
                                %
                            {% else %}
                                €
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        
    </section>
</article>
{% endblock %}